body {
    font-family: 'Courier New', Courier, monospace;
    background-color: gainsboro;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
}

.game-section {
    display: flex;
    justify-content: space-evenly;
}

button {
    border: 1px solid red;
    font-size: 36px;
    width: 5em;
    padding: .4em;
}

.score-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: -48px;
    height: 256px;
}

.score-user {
    border: 2px solid red;
    height: 100%;
    width: 35%;
}

.killfeed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid red;
    height: 100%;
    width: 25%;
}

.win-lose-tag {
    /* background-color: aliceblue; */
    top: 0px;
    font-size: 2em;
    margin: 5% 0px;
    background-color: rgba(0, 0, 0, .1);
}

.computer-chose {
    /* background-color: coral; */
    font-size: 1em;
    margin: 5% 0px;
}

.win-loss-container {
    /* background-color: blanchedalmond; */
    font-size: 2em;
    margin: 5% 0px;
}

.score-pc {
    border: 2px solid red;
    height: 100%;
    width: 35%;
}